body > ul > li {
    font-size: 2em;
    padding-top: 1em;
}

ol > li {
    font-size: 1.3em;
    padding-top: 0.5em;
}


table {
    border-collapse: collapse;
}

td, th {
    border: solid;
    border-width: 1px;
    padding: 8px;
    text-align:center;
}


div.flex {
    display:flex;
    flex-direction:column;
    align-items:center;
}

h3 {
    font-size:2em;
    margin-bottom:0;
    text-align: center;
}

div.flex ul {
    width: 50%;
    margin-bottom:1em;
    margin-top:0.5em;
}

div.flex {
    font-size:1.2em;
}